
body {
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.system {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 0.80);
    max-width: 20em;
    display: inline-block;
    font-family: sans-serif;
    font-size: small;
}
