<div class="system">
    The item "{{name}}" is now {{{stateUnicode}}}, it will be on {{condition}}

    <div><button data-action='{"action": "condition", "state": false, "handle": "{{name}}"}'>disable condition</button></div>
    <div><button data-action='{"action": "condition", "state": true, "handle": "{{name}}}'>enable condition</button></div>
    <div><button data-action='{"action": "state", "state": true, "handle": "{{name}}}'>put on</button></div>
    <div><button data-action='{"action": "state", "state": false, "handle": "{{name}}}'>put off</button></div>
</div>